#id1{
     color:blue;
     background-color: black;
}


.class2{
    color: red;
    text-align: right;
    text-decoration: dashed underline 2px red;
}
.class1
{
    color: blue;
    text-align: center;
}
h1{
    color: chocolate;
}